In [ ]:
"""
Este archivo es para manipular los datos que se ha bajado Alba de los menus de los restaurantes y posteriormente pasarselos a Marta
"""

In [1]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
from sklearn.preprocessing import LabelEncoder

In [2]:
menu_1 = pd.read_csv('api_chueca2.csv', index_col=0)

In [13]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove €
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace('"', '').replace(',','.').replace(' €', '')
    return float(new_val)

In [14]:
menu_1['precios'].apply(convert_currency)

AttributeError: 'float' object has no attribute 'replace'

In [4]:
menu_1.Categorias.value_counts()

None            274
Postres         130
Entrantes       125
Pescado          72
Carne            37
Arroces          34
Ensalada         32
Hamburguesa      28
Marisco          22
Sopa             18
Pizza            17
Pollo            13
De la huerta      3
Name: Categorias, dtype: int64

In [6]:
# Cambio el indice por uno nuevo y que sea de valores únicos y consecutivos.
menu_1.reset_index(drop=True, inplace=True)
menu_1.head(10)

,restaurante,seccion,platos,precios,platos_lower,seccion_lower,Categorias
0,7 Delicatessen,Entrante,Ensalada de queso de cabra con naranja agria a...,"8,5 €",ensalada de queso de cabra con naranja agria a...,entrante,Ensalada
1,7 Delicatessen,Entrante,Tortilla de patata con cebolla caramelizada,8 €,tortilla de patata con cebolla caramelizada,entrante,Entrantes
2,7 Delicatessen,Entrante,Ensalada de foie y cebolla caramelizada,"8,5 €",ensalada de foie y cebolla caramelizada,entrante,Ensalada
3,7 Delicatessen,Plato,Pollo yakitori,8 €,pollo yakitori,plato,Pollo
4,7 Delicatessen,Plato,Pizza de gambón y chile confitado,"8,5 €",pizza de gambón y chile confitado,plato,Pizza
5,7 Delicatessen,Plato,Rissoto de boletus,9 €,rissoto de boletus,plato,None
6,7 Delicatessen,Postre,Bizcocho de chocolate y vino tinto con helado ...,5 €,bizcocho de chocolate y vino tinto con helado ...,postre,Postres
7,7 Delicatessen,Postre,Leche frita,3 €,leche frita,postre,Postres
8,7 Delicatessen,Postre,Muerte por chocolate,3 €,muerte por chocolate,postre,Postres
9,7 Delicatessen,seccion_bebidas,Café,"1,5 €",café,seccion_bebidas,None

In [7]:
menu_1.seccion.value_counts().tail(10)

Sopas                          2
Bowls                          2
Risottos                       2
Ensalada                       2
Servicio                       1
Mesas                          1
Especiallidad maldeamores      1
*Reserva de 1 hora y media*    1
Golosos de la trastienda       1
Aperitivo                      1
Name: seccion, dtype: int64

In [8]:
# Doy categoria a estos  platos que no habian sido categorizados 

menu_1['Categorias'][menu_1.index == 5] = "Arroces"
menu_1['Categorias'][menu_1.index == 51] = "De la huerta"
menu_1['Categorias'][menu_1.index == 91] = "De la huerta"
menu_1['Categorias'][menu_1.index == 66] = "Pescado"
menu_1['Categorias'][menu_1.index ==149] = 'Pizza'
menu_1['Categorias'][menu_1.index ==152] = 'Pizza'
menu_1['Categorias'][menu_1.index ==201] = "Carne"
menu_1['Categorias'][menu_1.index ==308] = "Pescado"
menu_1['Categorias'][menu_1.index ==318] = "Pescado"
menu_1['Categorias'][menu_1.index ==319] = "Pescado"
menu_1['Categorias'][menu_1.index ==320] = "Pescado"
menu_1['Categorias'][menu_1.index ==322] = "Pescado"
menu_1['Categorias'][menu_1.index ==323] = "Pescado"
menu_1['Categorias'][menu_1.index ==324] = "Pescado"
menu_1['Categorias'][menu_1.index ==429] = "Carne"
menu_1['Categorias'][menu_1.index ==396] = "Marisco"
menu_1['Categorias'][menu_1.index ==393] = "Pescado"
menu_1['Categorias'][menu_1.index ==403] = "Pescado"
menu_1['Categorias'][menu_1.index ==404] = "Pescado"
menu_1['Categorias'][menu_1.index == 744] = "De la huerta"
menu_1['Categorias'][menu_1.index == 745] = "De la huerta"
menu_1['Categorias'][menu_1.index ==624] = "Sopa"
menu_1['Categorias'][menu_1.index ==625] = "Sopa"
menu_1['Categorias'][menu_1.index ==626] = "Sopa"
menu_1['Categorias'][menu_1.index ==627] = "Sopa"
menu_1['Categorias'][menu_1.index ==667] = "Marisco"
menu_1['Categorias'][menu_1.index ==670] = "Marisco"
menu_1['Categorias'][menu_1.index ==665] = "Pescado"
menu_1['Categorias'][menu_1.index ==666] = "Pescado"
menu_1['Categorias'][menu_1.index == 668] = "De la huerta"
menu_1['Categorias'][menu_1.index ==708] = "Carne"
menu_1['Categorias'][menu_1.index ==711] = "Carne"
menu_1['Categorias'][menu_1.index ==714] = "Carne"

In [11]:
mask1 = (menu_1['seccion'] == 'seccion_bebidas')
mask2 = (menu_1['seccion']== 'Aperitivo')
mask3 = (menu_1['seccion']== '*Reserva de 1 hora y media*')
mask4 = (menu_1['seccion']== 'Servicio')
#mask5 = (menu_chueca['seccion']== 'Golosos de la trastienda')
mask6 = (menu_1['seccion']== 'Mesas')
#mask7 = (menu_chueca['seccion']== 'POSTRES CASEROS')
#mask8 = (menu_chueca['seccion']== 'Tacos para los que no comen carne')
mask9 = (menu_1['restaurante']== 'TE CATO') # Sin precios
mask10 = (menu_1['restaurante']== 'Vides') # Sin precios
mask11 = (menu_1['Categorias']== 'None')

In [12]:
menu = menu_1[~((mask1) | (mask2) | (mask3) | (mask4) | (mask4) |(mask6) |(mask9) | (mask10) | (mask11)) ]

In [15]:
# Cambio el indice para que sean valores consecutivos tras eliminar algunos de los registros.
menu.reset_index(drop=True, inplace=True)

In [19]:
menu

,restaurante,seccion,platos,precios,platos_lower,seccion_lower,Categorias
0,7 Delicatessen,Entrante,Ensalada de queso de cabra con naranja agria a...,"8,5 €",ensalada de queso de cabra con naranja agria a...,entrante,Ensalada
1,7 Delicatessen,Entrante,Tortilla de patata con cebolla caramelizada,8 €,tortilla de patata con cebolla caramelizada,entrante,Entrantes
2,7 Delicatessen,Entrante,Ensalada de foie y cebolla caramelizada,"8,5 €",ensalada de foie y cebolla caramelizada,entrante,Ensalada
3,7 Delicatessen,Plato,Pollo yakitori,8 €,pollo yakitori,plato,Pollo
4,7 Delicatessen,Plato,Pizza de gambón y chile confitado,"8,5 €",pizza de gambón y chile confitado,plato,Pizza
...,...,...,...,...,...,...,...
539,tuk tuk,Plato,"Ternera al curry con verduras, anacardos, arro...",18 €,"ternera al curry con verduras, anacardos, arro...",plato,Carne
540,tuk tuk,Plato,Teriyaki de salmón servido con arroz de jazmín...,18 €,teriyaki de salmón servido con arroz de jazmín...,plato,Pescado
541,tuk tuk,Postre,"Plátano asado, envuelto en azúcar de caña, fru...","6,5 €","plátano asado, envuelto en azúcar de caña, fru...",postre,Postres
542,tuk tuk,Postre,Fruta de temporada servida con sorbete de menta,"6,5 €",fruta de temporada servida con sorbete de menta,postre,Postres
543,tuk tuk,Postre,Carpaccio de piña aderezado con menta y sorbet...,"6,5 €",carpaccio de piña aderezado con menta y sorbet...,postre,Postres

In [20]:
menu['Id_restaurante'] = menu['restaurante']

In [21]:
menu

,restaurante,seccion,platos,precios,platos_lower,seccion_lower,Categorias,Id_restaurante
0,7 Delicatessen,Entrante,Ensalada de queso de cabra con naranja agria a...,"8,5 €",ensalada de queso de cabra con naranja agria a...,entrante,Ensalada,7 Delicatessen
1,7 Delicatessen,Entrante,Tortilla de patata con cebolla caramelizada,8 €,tortilla de patata con cebolla caramelizada,entrante,Entrantes,7 Delicatessen
2,7 Delicatessen,Entrante,Ensalada de foie y cebolla caramelizada,"8,5 €",ensalada de foie y cebolla caramelizada,entrante,Ensalada,7 Delicatessen
3,7 Delicatessen,Plato,Pollo yakitori,8 €,pollo yakitori,plato,Pollo,7 Delicatessen
4,7 Delicatessen,Plato,Pizza de gambón y chile confitado,"8,5 €",pizza de gambón y chile confitado,plato,Pizza,7 Delicatessen
...,...,...,...,...,...,...,...,...
539,tuk tuk,Plato,"Ternera al curry con verduras, anacardos, arro...",18 €,"ternera al curry con verduras, anacardos, arro...",plato,Carne,tuk tuk
540,tuk tuk,Plato,Teriyaki de salmón servido con arroz de jazmín...,18 €,teriyaki de salmón servido con arroz de jazmín...,plato,Pescado,tuk tuk
541,tuk tuk,Postre,"Plátano asado, envuelto en azúcar de caña, fru...","6,5 €","plátano asado, envuelto en azúcar de caña, fru...",postre,Postres,tuk tuk
542,tuk tuk,Postre,Fruta de temporada servida con sorbete de menta,"6,5 €",fruta de temporada servida con sorbete de menta,postre,Postres,tuk tuk
543,tuk tuk,Postre,Carpaccio de piña aderezado con menta y sorbet...,"6,5 €",carpaccio de piña aderezado con menta y sorbet...,postre,Postres,tuk tuk

Voy a codificar los restaurantes utilizando LabelEncoder y aplicandolo a la columna Id_restaurante

In [23]:
le = LabelEncoder()
menu["Id_restaurante"] = le.fit_transform(menu["Id_restaurante"])
menu

,restaurante,seccion,platos,precios,platos_lower,seccion_lower,Categorias,Id_restaurante
0,7 Delicatessen,Entrante,Ensalada de queso de cabra con naranja agria a...,"8,5 €",ensalada de queso de cabra con naranja agria a...,entrante,Ensalada,0
1,7 Delicatessen,Entrante,Tortilla de patata con cebolla caramelizada,8 €,tortilla de patata con cebolla caramelizada,entrante,Entrantes,0
2,7 Delicatessen,Entrante,Ensalada de foie y cebolla caramelizada,"8,5 €",ensalada de foie y cebolla caramelizada,entrante,Ensalada,0
3,7 Delicatessen,Plato,Pollo yakitori,8 €,pollo yakitori,plato,Pollo,0
4,7 Delicatessen,Plato,Pizza de gambón y chile confitado,"8,5 €",pizza de gambón y chile confitado,plato,Pizza,0
...,...,...,...,...,...,...,...,...
539,tuk tuk,Plato,"Ternera al curry con verduras, anacardos, arro...",18 €,"ternera al curry con verduras, anacardos, arro...",plato,Carne,25
540,tuk tuk,Plato,Teriyaki de salmón servido con arroz de jazmín...,18 €,teriyaki de salmón servido con arroz de jazmín...,plato,Pescado,25
541,tuk tuk,Postre,"Plátano asado, envuelto en azúcar de caña, fru...","6,5 €","plátano asado, envuelto en azúcar de caña, fru...",postre,Postres,25
542,tuk tuk,Postre,Fruta de temporada servida con sorbete de menta,"6,5 €",fruta de temporada servida con sorbete de menta,postre,Postres,25
543,tuk tuk,Postre,Carpaccio de piña aderezado con menta y sorbet...,"6,5 €",carpaccio de piña aderezado con menta y sorbet...,postre,Postres,25

In [ ]:
menu_6 = df[['Categorias','platos','precios','puntuacion','Id_restaurante']]

In [18]:
menu.restaurante.unique()

array(['7 Delicatessen', 'Aloha Poké', 'Bagatella', 'Bazaar', 'Boho Bar',
       'Bosco de Lobos', 'Dionisos', 'Food Truck', 'Gioia Restaurante',
       'Hamburguesa Nostra', 'Hot Now', 'Izakaya Han', 'Kuoco 360',
       'La Carmencita', 'La Trastienda', 'le cocó', 'Mal de Amores',
       'Morgana', 'Restaurante Arce', 'RESTAURANTE KRITIKOS', 'Roostiq',
       'San Wich', 'Sr. Ito', 'Taberna El Buo', 'Tepic', 'tuk tuk'],
      dtype=object)

In [90]:
df_restaurantes = pd.read_json("rest_Chueca.json")
df_restaurantes.head()

,Restaurant,Style,Address,latitude,lomgitude
0,Kuoco 360,Restaurants,"[Calle San Bartolmé, 14, 28004 Madrid Madrid, ...",40.421842,-3.698456
1,Bunny's Deli,Vegetarian / Vegan Restaurants,"[Calle San Gregorio 17, 28004 Madrid Madrid, E...",40.423935,-3.697158
2,Pizzaiolo,Italian Restaurants,"[C. Hortaleza, 84, 28004 Madrid Madrid, España]",40.423795,-3.698597
3,Vides,Gastropubs,"[C. Libertad, 12, 28004 Madrid Madrid, España]",40.421017,-3.697354
4,Food Truck,American Restaurants,"[C. San Lucas, 11, Madrid Madrid, España]",40.423816,-3.696086

In [95]:
restaurantes_definitivos = ['7 Delicatessen', 'Aloha Poké', 'Bagatella', 'Bazaar', 'Boho Bar',
       'Bosco de Lobos', 'Dionisos', 'Food Truck', 'Gioia Restaurante',
       'Hamburguesa Nostra', 'Hot Now', 'Izakaya Han', 'Kuoco 360',
       'La Carmencita', 'La Trastienda', 'le cocó', 'Mal de Amores',
       'Morgana', 'Restaurante Arce', 'RESTAURANTE KRITIKOS', 'Roostiq',
       'San Wich', 'Sr. Ito', 'Taberna El Buo', 'Tepic', 'tuk tuk']

In [ ]:
df_restaurantes.loc[]

In [88]:
df_restaurantes.reset_index(level=0, inplace=True)

In [ ]:
df_restaurantes.rename(columns={'index': 'Id_Restaurante'}, inplace=True)

In [1]:
df_restaurantes.head()

NameError: name 'df_restaurantes' is not defined

In [ ]:
paises_grupoD=["PRT", "VEN", "TUR", "GBR", "ESP"]
paises_nombres={"PRT":"Portugal", "VEN":"Venezuela", "TUR":"Turquía", "GBR":"Gran Bretaña", "ESP":"España"}
covid_grupoD=world_df[world_df.iso_code.isin(paises_grupoD)]
covid_grupoD